{% extends "BlogApp/base.html" %}


{% block body %}



        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Forgot Password</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">Auth</li>
                    <li class="breadcrumb-item active text-primary">Forgot Password</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

<div class="container">
    <hr>
        <p class="fs-1 text-center"><strong class="text-secondary">Reset Link Sent!</strong></p>
    <hr>
    <p class="fs-3 text-center"><span>Kindly Check your email, we have sent instructions for password reset on your email, If you don't find those instructions right away then kindly wait for a few minutes or check your spam folder</span></p>
</div>

{% endblock body %}