{% extends "BlogApp/base.html" %}

{% block body %}

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">User Dashboard</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">Auth</li>
                    <li class="breadcrumb-item active text-primary">Dashboard</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->
<br>
    <div class="container">
        <hr>
            <p class="fs-1 text-center"><strong class="text-secondary">Welcome to User Dashboard: {{user.username}}</strong></p>
        <hr>
        <div class="row">
            <div class="col-md-4 p-3" style="background: silver;">
                <div class="card-img text-center">
                    {% if user.profile %}
                        {% if user.profile.profile_pic %}
                            <img src="{{user.profile.profile_pic}}" alt="{{user.username}}" class="img-fluid" width="120px">
                        {% else %}
                            <img src="https://ik.imagekit.io/hivepulse/hivepulse/default/default-user.jpg" alt="{{user.username}}" class="img-fluid" width="120px">                    
                        {% endif %}
                    {% else %}
                        <img src="https://ik.imagekit.io/hivepulse/hivepulse/default/default-user.jpg" alt="{{user.username}}" class="img-fluid" width="120px">                    
                    {% endif %}
                </div>
                <div class="d-flex flex-column mt-3">
                    <a href="/auth/logout" class="btn btn-success mb-2">Logout</a>
                    {% if user.profile %}
                        <a href="/auth/edit-profile" class="btn btn-success mb-2">Edit Profile</a>
                    {% else %}
                        <a href="/auth/create-profile" class="btn btn-success mb-2">Create Profile</a>
                    {% endif %}
                    <a href="/auth/edit-user" class="btn btn-success mb-2">Edit Account</a>
                    <a href="/auth/edit-password" class="btn btn-success mb-2">Edit Password</a>
                    <a href="/auth/delete-user" class="btn btn-danger mb-2">Delete Account</a>
                </div>
            </div>
            <div class="col-md-8 text-center">
                <hr>
                    <p class="fs-1 text-center"><strong class="text-secondary">User Details</strong></p>
                <hr>
                <p class="fs-4 text-center"><strong class="text-secondary">{{user.first_name}} {{user.last_name}}</strong></p>
                <p class="fs-4 text-center"><strong class="text-secondary">Username: {{user.username}}</strong></p>
                <p class="fs-4 text-center"><strong class="text-secondary">Last Login: {{user.last_login}}</strong></p>
                <p class="fs-4 text-center"><strong class="text-secondary">Email: {{user.email}}</strong></p>
                <p class="fs-4 text-center"><strong class="text-secondary">Date Joined: {{user.date_joined}}</strong></p>
            </div>
        </div>
        <br>
        <div class="row ">
            <hr>
                <p class="fs-1 text-center"><strong class="text-secondary">Profile Details</strong></p>
            <hr>
            {% if user.profile %}
                {% if user.profile.about_user %}
                <p class="fs-4 text-center"><strong class="text-secondary">About User: {{user.profile.about_user}}</strong></p>
                {% endif %}
                {% if user.profile.social_link %}
                    <p class="fs-4 text-center"><strong class="text-secondary">Social Link: <a href="{{user.profile.social_link}}">{{user.profile.social_link}}</a></strong></p>
                {% endif %}
                {% if not user.profile.about_user and not user.profile.social_link %}
                    <p class="fs-4 text-center"><strong class="text-secondary">No details added to profile! Add details now</strong></p>
                    <div class="text-center mb-3">
                        <a href="/auth/edit-profile" class="btn btn-success">Edit Profile</a>
                    </div>
                {% endif %}
            {% else %}
                <div class="text-center">
                    <p class="fs-4 text-center"><strong class="text-secondary">No profile created yet! Create your profile Now</strong></p>
                    <a href="/auth/create-profile" class="btn btn-success">Create Profile</a>
                </div>
            {% endif %}
            {% if user.is_superuser or user.is_staff %}
                <div class="row" id="post-section">
                    <hr>
                        <p class="fs-1 text-center"><strong class="text-dark">Posts by: {{user.username}}</strong></p>
                    <hr>
                        {% if post_none %}
                            <p class="fs-3 text-center"><strong class="text-secondary">No posts by {{user.username}}! Create your first post</strong></p>
                            <a href="/add-post" class="btn btn-success">Add Post</a>
                        {% else %}
                        <div class="row text-center" data-wow-delay="0.1s">
                            {% for post in posts %}
                            <div class="project-item mb-5 col-md-4 text-center">
                                <div class="position-relative text-center">
                                    {% comment %} <a href="/posts/{{post.title|slugify}}"> {% endcomment %}
                                    {% comment %} <form action="/posts/{{post.title|slugify}}" id="imageMainPost{{post.id}}" method=POST>
                                        <input type="hidden" name="post_id" value={{post.id}}>
                                    </form>
                                    <a 
                                        href="javscript:void(0);"
                                        onclick="document.getElementById('imageMainPost{{post.id}}').submit();"
                                    > {% endcomment %}
                                    <a href="/posts/{{post.slug}}">
                                        {% if post.thumbnail %}
                                            <img src="{{post.thumbnail}}/tr:w-720,h-360" alt="{{post.title}}" class="img-fluid">
                                        {% else %}
                                            <img src="https://ik.imagekit.io/hivepulse/hivepulse/default/default-post.png" alt="{{post.title}}" class="img-fluid" width="720px">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="p-4 text-center">
                                    <p>
                                        {% comment %} <a 
                                        href="javscript:void(0);"
                                        onclick="document.getElementById('imageMainPost{{post.id}}').submit();"
                                    > {% endcomment %}
                                    <a href="/posts/{{post.slug}}">
                                    {{post.title|slice:":20"}} ...</a></p>
                                    <p class="text-secondary">{{post.tagline|slice:":30"}} ...</p>
                                </div>
                                {% if user.is_staff or user.is_superuser %}
                                <div class="btn-group mb-5 text-center">
                                    {% if user.id == post.author.id %}
                                        <a href="/posts/{{post.slug}}"
                                        class="btn btn-success me-2">Read Post</a>
                                        {% if post.hide_post == True %}
                                        <a href="/unhide-post/{{post.id}}" class="btn btn-success me-2 ">Unhide Post</a>
                                        {% else %}
                                        <a href="/hide-post/{{post.id}}" class="btn btn-danger me-2">Hide Post</a>
                                        {% endif %}
                                        <a href="/edit-post/{{post.id}}" class="btn btn-success me-2">Edit Post</a>
                                        <a href="/delete-post/{{post.id}}" class="btn btn-danger">Delete Post</a>
                                        <br>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row text-center">
                            <div>
                                {% if posts.has_previous %}
                                    <a href="?post_page={{posts.previous_page_number}}#post-section" class="btn btn-primary me-1">Previous</a>
                                {% endif %}
                                {% if posts.has_next %}
                                    <a href="?post_page={{posts.next_page_number}}#post-section" class="btn btn-primary">Next</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                </div>
            {% endif %}
            <br>
            <div class="row mt-3 text-center" id="like-section">
                <hr>
                    <p class="fs-1 text-center"><strong class="text-dark">Posts Liked by: {{user.username}}</strong></p>
                <hr>
                    {% if user_post_none %}
                        <p class="fs-3 text-center"><strong class="text-secondary">No posts are liked by {{user.username}}! Like your first post</strong></p>
                        <a href="/posts" class="btn btn-success">Blog Post</a>
                    {% else %}
                    <div class="row text-center">
                        {% for user_post in user_posts %}
                        <div class="project-item mb-5 col-md-4 text-center">
                            <div class="position-relative">
                                <a href="/posts/{{user_post.slug}}">
                                    {% if user_post.thumbnail %}
                                        <img src="{{user_post.thumbnail}}/tr:w-720,h-360" alt="{{user_post.title}}" class="img-fluid" width="720px">
                                    {% else %}
                                        <img src="https://ik.imagekit.io/hivepulse/hivepulse/default/default-post.png" alt="{{user_post.title}}" class="img-fluid" width="720px">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="p-4 text-center">
                                <p><a 
                                    class="text-dark"
                                    href="/posts/{{user_post.slug}}"
                                >
                                {{user_post.title|slice:":20"}} ...</a></p>
                                <p class="text-secondary">{{user_post.tagline|slice:":30"}} ...</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row text-center mt-3">
                        <div>
                            {% if user_posts.has_previous %}
                                <a href="?like_page={{user_posts.previous_page_number}}#like-section" class="btn btn-primary me-1">Previous</a>
                            {% endif %}
                            {% comment %} {{posts.number}}
                            {{posts.paginator.num_pages}} {% endcomment %}
                            {% if user_posts.has_next %}
                                <a href="?like_page={{user_posts.next_page_number}}#like-section" class="btn btn-primary">Next</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
            </div>

            <div class="row mt-3 text-center" id="movie-section">
                <hr>
                    <p class="fs-1 text-center"><strong class="text-dark">Movies Liked by: {{user.username}}</strong></p>
                <hr>
                {% if movies_none %}
                    <p class="fs-3 text-center"><strong class="text-secondary">No movies are liked by {{user.username}}! Like your first Movie</strong></p>
                    <div class="text-center">
                        <a href="/movie?page=1" class="btn btn-success">Movies</a>
                    </div>
                {% else %}
                    <div class="row text-center">
                        {% for movie in movies %}
                            <div class="col-4">
                                <a href="/movie/detail/{{movie.movie_id}}">
                                    <div class="card">
                                        {% if movie.poster_path is none %}
                                            <img src="https://ik.imagekit.io/hivepulse/hivepulse/default/default-post.png" alt="{{movie.title}}" class="img-fluid">
                                        {% else %}
                                            <img src="https://media.themoviedb.org/t/p/w220_and_h330_face{{movie.poster_path}}" alt="{{movie.title}}" class="img-fluid">
                                        {% endif %}
                                        <div class="card-body">
                                            <p class="text-dark"><strong>{{movie.title}}</strong></p>
                                            <p class="text-dark">Rating: {{movie.movie_rating}}/10 | Liked At: {{movie.added_on}}</p>

                                        </div>
                                    </div>      
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-3">
                        {% if movies.has_previous %}
                            <a href="?movie_page={{movies.previous_page_number}}#movie-section" class="btn btn-primary me-1">Previous</a>
                        {% endif %}
                        {% if movies.has_next %}
                            <a href="?movie_page={{movies.next_page_number}}#movie-section" class="btn btn-primary">Next</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="row mt-3 text-center" id="show-section">
                <hr>
                    <p class="fs-1 text-center"><strong class="text-dark">TV Shows Liked by: {{user.username}}</strong></p>
                <hr>
                {% if movies_none %}
                    <p class="fs-3 text-center"><strong class="text-secondary">No TV Shows are liked by {{user.username}}! Like your first Movie</strong></p>
                    <div class="text-center">
                        <a href="/movie/tv?page=1" class="btn btn-success">TV Shows</a>
                    </div>
                {% else %}
                    <div class="row text-center">
                        {% for movie in shows %}
                            <div class="col-4">
                                <a href="/movie/detail/tv/{{movie.show_id}}">
                                    <div class="card">
                                        {% if movie.poster_path is none %}
                                            <img src="https://ik.imagekit.io/hivepulse/hivepulse/default/default-post.png" alt="{{movie.title}}" class="img-fluid">
                                        {% else %}
                                            <img src="https://media.themoviedb.org/t/p/w220_and_h330_face{{movie.poster_path}}" alt="{{movie.title}}" class="img-fluid">
                                        {% endif %}
                                        <div class="card-body">
                                            <p class="text-dark"><strong>{{movie.title}}</strong></p>
                                            <p class="text-dark">Rating: {{movie.show_rating}}/10 | Liked At: {{movie.added_on}}</p>
                                        </div>
                                    </div>      
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-3">
                        {% if shows.has_previous %}
                            <a href="?show_page={{shows.previous_page_number}}#show-section" class="btn btn-primary me-1">Previous</a>
                        {% endif %}
                        {% if shows.has_next %}
                            <a href="?show_page={{shows.next_page_number}}#show-section" class="btn btn-primary">Next</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
<br>
{% endblock body %}