{% extends "BlogApp/base.html" %}

{% block body %}
        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Login</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item">Auth</li>
                    <li class="breadcrumb-item active text-primary">Login</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->
<br>
    <div class="container">
        <form action="" class="form-control" method=POST>
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-primary" type="submit">Submit</button>
            <br>
            <p class="fs-5 text-center">Register a new account by clicking <a href="/auth/register">here</a></p>
            <p class="fs-5 text-center">Forgot Password? Reset password by clicking <a href="/auth/reset-password">here</a></p>
        </form>
    </div>
<br>
{% endblock body %}