{% extends "BlogApp/base.html" %}

{% block body %}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Delete Post</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active text-primary">Delete Post</li>
        </ol>    
    </div>
</div>
<!-- Header End -->
<br>
    <div class="container">
        <p class="fs-1 text-center"><strong class="text-secondary">Are you sure you want to delete this post? post would not be restored once deleted</strong></p>
        <p class="fs-6 text-center"><strong class="text-dark">{{title}} - By {{author}}</strong></p>
        <form action="" class="form-control text-center" method=POST>
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <a href="/auth/dashboard" class="btn btn-success me-2">No</a>
            <button class="btn btn-danger" type="submit">Yes</button>
        </form>
    </div>
<br>
{% endblock body %}