{%extends 'BlogApp/base.html'%}
{%block body%}

        <!-- Carousel Start -->
        <div class="header-carousel owl-carousel overflow-hidden">
            <div class="header-carousel-item hero-section pt-2">
                <div class="hero-bg-half-1"></div>
                <div class="hero-shape-1"></div>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-4 align-items-center">
                            <div class="col-lg-7 animated fadeInLeft">
                                <div class="text-sm-center text-md-start">
                                    <h4 class="text-white text-uppercase fw-bold mt-5">Discover Movies That Match Your Taste Instantly</h4>
                                    <h4 class="display-2 text-white mb-2">Your next favorite movie is just a pulse away</h4>
                                    <p class="mb-5 fs-5">Dive into a world of movies tailored to your taste — smarter recommendations, clearer ratings, and zero guesswork 
                                    </p>
                                    <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                        <a class="btn btn-light py-3 px-4 px-md-5 me-2" href="/posts"><i class="fas fa-circle me-2"></i> Blog Posts</a>
                                        <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="/about">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-carousel-item hero-section pt-2">
                <div class="hero-bg-half-2"></div>
                <div class="hero-shape-2"></div>
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row g-4 align-items-center">
                            <div class="col-lg-7 animated fadeInLeft">
                                <div class="text-sm-center text-md-start">
                                    <h4 class="text-white text-uppercase fw-bold mt-5">Discover Movies That Match Your Taste Instantly</h4>
                                    <h4 class="display-2 text-white mb-2">Your next favorite movie is just a pulse away</h4>
                                    <p class="mb-5 fs-5">Dive into a world of movies tailored to your taste — smarter recommendations, clearer ratings, and zero guesswork 
                                    </p>
                                    <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                        <a class="btn btn-light py-3 px-4 px-md-5 me-2" href="/posts"><i class="fas fa-circle me-2"></i> Blog Posts</a>
                                        <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="/about">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- About Start -->
        <div class="container-fluid about py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-7 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="h-100">
                            <h4 class="text-primary">About Us</h4>
                            <h1 class="display-4 mb-4">Providing you with latest updates in hollywood</h1>
                            <div class="row g-4 mb-4">
                                <div class="col-md-6">
                                    <a href="#" class="d-flex">
                                        <span class="fas fa-bolt fa-3x me-3"></span>
                                        <h4 class="mb-0">Fast Service</h4>
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="d-flex">
                                        <span class="fas fa-broadcast-tower fa-3x me-3"></span>
                                        <h4 class="mb-0">Secure Structure</h4>
                                    </a>
                                </div>
                            </div>
                            <p class="mb-4"></p>
                            <div class="text-dark mb-4">
                                <p class="fs-5"><span class="fa fa-check text-primary me-2"></span> Smart Movie Recommendations.</p>
                                <p class="fs-5"><span class="fa fa-check text-primary me-2"></span> Community Ratings.</p>
                                <p class="fs-5"><span class="fa fa-check text-primary me-2"></span> Genre Grouping (Clustering).</p>
                            </div>
                            <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="/contact">Contact us</a>
                        </div>
                    </div>
                    <div class="col-lg-5 wow fadeInRight" data-wow-delay="0.2s">
                        <div class="position-relative h-100">
                            <img src="/static/BlogApp/img/about-1.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                            <div class="bg-white">
                                <div class="position-absolute pt-3 bg-white" style="width: 50%; left: 0; bottom: 0;">
                                    <div class="bg-primary p-4">
                                        <h4 class="display-2 mb-0"></h4>
                                        <p class="text-white fs-5 mb-0">Easy to use for everyone.</p>
                                    </div>
                                </div>
                                <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                                    <img src="/static/BlogApp/img/about-2.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Banner Start -->
         <div class="container-fluid banner py-5 wow zoomIn" data-wow-delay="0.2s">
            <div class="banner-design-1"></div>
            <div class="banner-design-2"></div>
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-8">
                        <div class="">
                            <h4 class="text-white">Rattings for Movies & T.V. shows</h4>
                            <h1 class="display-4 text-white mb-0">Get the latest updates about entertainment industry with amazing features</h1>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex align-items-center justify-content-lg-end h-100">
                            <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="/posts">EXPLORE MORE</a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- Banner End -->


        <!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Movie Ratings</h4>
                    <h1 class="display-4 mb-4">Top Rated Movies & TV shows</h1>
                    <p class="mb-0">Get the details about top rated movies and TV shows that are trending in hollywood and world wide
                    </p>
                </div>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-3 wow fadeInLeft" data-wow-delay="0.2s">
                        <ul class="nav">
                            <li class="nav-item me-lg-0 mb-4">
                                <a class="py-3 px-5 active" data-bs-toggle="pill" href="#ServiceTab-1">
                                    <span>Top Rated Movies</span>
                                </a>
                            </li>
                            <li class="nav-item me-lg-0 mb-4">
                                <a class="py-3 px-5" data-bs-toggle="pill" href="#ServiceTab-2">
                                    <span>Top Rated TV shows</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-9 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="tab-content">
                            <div id="ServiceTab-1" class="tab-pane fade show p-0 active">
                                <div class="service-carousel owl-carousel">
                                    {% for movie in feature_movies %}
                                    <div class="service-item">
                                        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}" class="img-fluid w-100 h-25" alt="">
                                        <div class="border border-top-0 p-4">
                                            <h4 class="mb-3">{{movie.title}}</h4>
                                            <p class="mb-4">{{movie.overview}}
                                            </p>
                                            <p>Released on: {{movie.release_date}} | rating: {{movie.vote_average}}⭐ out of 10</p>
                                            <a href="/movie/detail/{{movie.id}}" target="_blank" class="btn btn-primary">Details</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="ServiceTab-2" class="tab-pane fade show p-0">
                                <div class="service-carousel owl-carousel">
                                    {% for show in feature_shows %}
                                    <div class="service-item">
                                        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{show.poster_path}}" class="img-fluid w-100 h-25" alt="">
                                        <div class="border border-top-0 p-4">
                                            <h4 class="mb-3">{{show.original_name}}</h4>
                                            <p class="mb-4">{{show.overview}}
                                            </p>
                                            <p>Released on: {{show.release_date}} | rating: {{show.vote_average}}⭐ out of 10</p>
                                            <a href="/movie/detail/tv/{{show.id}}" target="_blank" class="btn btn-primary">Details</a>
                                            
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->

        


        <!-- Blog Start -->
         <div class="container-fluid blog py-5">
            <div class="container py-5">
                <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">Our Blog</h4>
                    <h1 class="display-4 mb-4">Movies & T.V. Shows</h1>
                    <p class="mb-0">Our blog keeps you up to date with trends that are going on in hollywood by covering all the related topics like streaming, marvel upcomings, trending movies & shows, etc.
                    </p>
                </div>
                <div class="row g-4">
                    {% for post in blogs %}
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-item">
                            <div class="blog-img">
                                {% if post.thumbnail %}
                                    <img src="{{post.thumbnail}}/tr:w-720,h-360" class="img-fluid w-100"  alt="">
                                {% else %}
                                    <img src="/media/default/default-post.png" alt="{{post.title}}" class="img-fluid" width="720px">
                                {% endif %}
                            </div>
                            <div class="blog-heading ms-4">
                                <a href="#" class="h4 mb-0 p-4">{{post.title}}</a>
                            </div>
                            <div class="blog-content bg-light p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> {{post.post_date}}</p>
                                    <a href="/category/{{post.category.name}}"><p class="mb-0 small"><i class="fa fa-tag me-2"></i> {{post.category.name}}</p></a>
                                    <p class="mb-0 small"><i class="fas fa-user me-2"></i> {{post.author.username}}</p>
                                </div>
                                <p class="mb-4">{{post.tagline}}
                                </p>
                                <a class="btn btn-primary py-2 px-4" href="/posts/{{post.slug}}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
         </div>
        <!-- Blog End -->

        





        <!-- FAQ Start -->
         <div class="container-fluid faq-section bg-light py-5">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                        <h4 class="text-primary">Some Important FAQ's</h4>
                        <h1 class="display-4 mb-4">Common Frequently Asked Questions?</h1>
                        <p class="mb-4">This is an independant and open source project which is transperant to all the users, most frequently asked queries related to this platform are listed below</p>
                        <a class="btn btn-primary py-3 px-5" href="/contact">Have Any Questions</a>
                    </div>
                    <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="h-100">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Q: What is hive pulse?
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show active" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A: A platform that allows you to get updates about trending movies and it also provides clustering of movies based on your preferences
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Q: Is it secure?
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A: Yes, it is a secure platform that considers security as a top priority for it's users, that's why the source code of this project is kept public for anyone to see the industry level standards that have been implemented in the development of this project - <a href="https://github.com/usman-s-mahmood/hive-pulse">source code</a> 
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Q: Is it a paid platform?
                                        </button>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A: No, all the services of Hive Pulse are currently free for all of it's users
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFour">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Q: Do you sell our data?
                                        </button>
                                    </h2>
                                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            A: No, Data of all users is kept private and it is not sold to any advertiser or any other platform
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        <!-- FAQ End -->
{%endblock body%}